<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>唯月初始</title>
</head>
<body>
    <h1>欢迎光临唯月初始</h1>
    <a style="margin-left:5px" href="/">首页</a>
    <a style="margin-left:10px" target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.w4004-16125089667.2.23722577RMSV9s&id=579281606457">淘宝店铺:唯月初始小店</a>
    <a style="margin-left:10px" target="_blank" href="https://pan.baidu.com/s/1dFRUjHf">百度盘看号直达</a>
    <hr>
<form action="" method="post">
    <table>
        <tbody>
        <tr>
            <td>宠物编号1:</td>
            <td><input type="text" name="bh_1"></td>
        </tr>
        <tr>
            <td>宠物编号2:</td>
            <td><input type="text" name="bh_2"></td>
        </tr>
        <tr>
            <td>宠物编号3:</td>
            <td><input type="text" name="bh_3"></td>
        </tr>
                <tr>
            <td>宠物编号4:</td>
            <td><input type="text" name="bh_4"></td>
        </tr>
        <tr>
            <td>宠物编号5:</td>
            <td><input type="text" name="bh_5"></td>
            <td><input type="submit" value="查询"></td>
        </tr>
        </tbody>
    </table>
</form>
<h2>使用说明:</h2>
<p>直接在宠物编号右侧的输入框输入宠物编号,最多支持五个宠物组合查找</p>
<p>查找单个宠物,当结果太多的时候可能网站会报错,尽量查找2个或两个以上</p>
<p>想要看box内宠物的图片可以点上面的百度云链接进去百度云内看截图</p>
<p>如果没有搜到图片,说明该账号已经卖了</p>
<p>因box经常更新,百度云内的图片并不能保证完全最新,需要看最新的图片请进淘宝店内与店主联系
<h3>搜出结果可能有重复,最终以实际box图片为准!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
<footer class="bg-white py-5 mt-5 text-small text-muted">
  <div class="flex-center">
    <div>© 唯月初始</div>
  </div>
  <div class="flex-center">
    <div>沪ICP备19000578号-1</div>
  </div>
</footer>
</body>
</html>