<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>唯月初始</title>
</head>
<body>
    <h1>欢迎光临唯月初始</h1>
    <a style="margin-left:5px" href="/">首页</a>
    <a style="margin-left:10px" target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.w4004-16125089667.2.23722577RMSV9s&id=579281606457">淘宝店铺:唯月初始小店</a>
    <a style="margin-left:10px" target="_blank" href="https://pan.baidu.com/s/1dFRUjHf">百度盘看号直达</a>
    <hr>
<form action="" method="post">
    <table>
        <tbody>
        <tr>
            <td>宠物编号1:</td>
            <td><input type="text" name="bh_1"></td>
        </tr>
        <tr>
            <td>宠物编号2:</td>
            <td><input type="text" name="bh_2"></td>
        </tr>
        <tr>
            <td>宠物编号3:</td>
            <td><input type="text" name="bh_3"></td>
        </tr>
                <tr>
            <td>宠物编号4:</td>
            <td><input type="text" name="bh_4"></td>
        </tr>
        <tr>
            <td>宠物编号5:</td>
            <td><input type="text" name="bh_5"></td>
            <td><input type="submit" value="查询"></td>
        </tr>
        </tbody>
    </table>
</form>
<h2>查询结果:</h2>
    <div class="divcss">
    <h3>找到{{ shuliang }}条数据</h3>
        {% for foo in shuju %}
        <p>账号编号:{{ foo.账号编号 }}</p>
        <p>石头数量:{{ foo.石头数量 }}</p>
        <p>账号等级:{{ foo.等级 }}</p>
        <p>更新时间:{{ foo.更新时间 }}</p>
        <p>是否已卖:{{ foo.已卖 }}</p>
        <p>买家名字:{{ foo.买家 }}</p>
        <p>卖出价格:{{ foo.价格 }}</p>
        <p>宠物盒子:{{ foo.宠物|linebreaksbr}}</p>
        <hr>
        {% endfor %}
    </div>
</body>
</html>