<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>唯月初始</title>
</head>
<body>
    <h1>欢迎光临唯月初始</h1>
    <a style="margin-left:5px" href="/">首页</a>
    <a style="margin-left:10px" target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.w4004-16125089667.2.23722577RMSV9s&id=579281606457">淘宝店铺:唯月初始小店</a>
    <a style="margin-left:10px" target="_blank" href="https://pan.baidu.com/s/1dFRUjHf">百度盘看号直达</a>
    <hr>
<form action="" method="post">
    <table>
        <tbody>
        <tr>
            <td>宠物编号1:</td>
            <td><input type="text" name="bh_1"></td>
        </tr>
        <tr>
            <td>宠物编号2:</td>
            <td><input type="text" name="bh_2"></td>
        </tr>
        <tr>
            <td>宠物编号3:</td>
            <td><input type="text" name="bh_3"></td>
        </tr>
                <tr>
            <td>宠物编号4:</td>
            <td><input type="text" name="bh_4"></td>
        </tr>
        <tr>
            <td>宠物编号5:</td>
            <td><input type="text" name="bh_5"></td>
        </tr>
        <tr>
            <td>账号编号1:</td>
            <td><input type="text" name="zhbh"></td>
        </tr>
        <tr>
            <td>账号编号2:</td>
            <td><input type="text" name="zhbh_1"></td>
            <td><input type="submit" value="查询"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>